body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color:aqua}


div{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%
}

a {text-decoration: none;}

img 
{height: 300px;
    position: sticky;
    position:relative;
    align-content: center;
    opacity: 90%;}

footer{background-color: blue;}


